name: JuiceSwap Routing API DEV CI/CD

on:
  push:
    branches: [develop]
  workflow_dispatch:

env:
  DOCKER_TAGS: dfxswiss/juiceswap-api:beta
  AZURE_RESOURCE_GROUP: rg-dfx-api-dev
  AZURE_CONTAINER_APP: ca-jsw-api-dev
  DEPLOY_INFO: ${{ github.ref_name }}-${{ github.sha }}

jobs:
  build-and-deploy:
    name: Build and deploy to DEV
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ env.DOCKER_TAGS }}

      - name: Log in to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_DEV_CREDENTIALS }}

      - name: Update Azure Container App
        uses: azure/CLI@v2
        with:
          inlineScript: |
            az containerapp update --resource-group ${{ env.AZURE_RESOURCE_GROUP }} --name ${{ env.AZURE_CONTAINER_APP }} --image ${{ env.DOCKER_TAGS }} --set-env-vars DEPLOY_INFO=${{ env.DEPLOY_INFO }}

      - name: Logout from Azure
        run: az logout
        if: always()